<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello: render template</title>
  </head>
  <body>
    <h1>Hello, {{ name }}</h1>
    <p>
    This message is for {{ name }}, below is your name as a header 2 and
    colored red<br />
    Your number {{ age }} and this line was added and not part of the lecture
    </p>
    <h2 style="color: red">{{ name }}</h2>
    <footer>
      <p>
      itsf4llofstars<br />
      irooted4hal@mailfence.com
      </p>
    </footer>
  </body>
</html>
